.content {
  position: relative;
  height: 14rem;
  border: 1px solid;
}

.center-div {
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);
  border: 1px dashed deeppink;
}

.vertical-center {
  padding-top: 17.7794%;
}

#wrapper {
  padding-left: 250px;
 transition: all 0.4s ease 0s;
}

#sidebar-wrapper {
  margin-left: -250px;
  left: 250px;
  width: 250px;
  background: #000;
  position: fixed;
  height: 100%;
  overflow-y: auto;
  //z-index: 1000;
  transition: all 0.4s ease 0s;
}

#page-content-wrapper {
  width: 100%;
}

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  list-style: none;
  margin: 0;
  padding: 0;
}

@media (max-width:767px) {

    .sidebar-nav {
      position: relative;
      top: 0;
      overflow: auto;
      width: 100%;
    }

    .btn {

      display: inline-block;
      width: 100%;
    }

    #wrapper {

      position: relative;
      padding-left: 0;
    }

    #sidebar-wrapper {

      position: relative;
      width: 100%;
      display: inline-block;
    }

    #wrapper.active {
      position: relative;
      left: 250px;
    }

    #wrapper.active #sidebar-wrapper {
      left: 250px;
      width: 250px;
      transition: all 0.4s ease 0s;
    }

}

/* body {
  IE10+ 
background-image: -ms-linear-gradient(top, #E4FFC2 0%, #CBFFA3 100%);

Mozilla Firefox 
background-image: -moz-linear-gradient(top, #E4FFC2 0%, #CBFFA3 100%);

Opera 
background-image: -o-linear-gradient(top, #E4FFC2 0%, #CBFFA3 100%);

Webkit (Safari/Chrome 10) 
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #E4FFC2), color-stop(100, #CBFFA3));

Webkit (Chrome 11+) 
background-image: -webkit-linear-gradient(top, #E4FFC2 0%, #CBFFA3 100%);

W3C Markup 
background-image: linear-gradient(to bottom, #E4FFC2 0%, #CBFFA3 100%);
} */

.left-inner-addon {
    position: relative;
}
.left-inner-addon input {
    padding-left: 30px;    
}
.left-inner-addon i {
    position: absolute;
    padding: 10px 12px;
    pointer-events: none;
}

.right-inner-addon {
    position: relative;
}
.right-inner-addon input {
    padding-right: 30px;    
}
.right-inner-addon i {
    position: absolute;
    right: 0px;
    padding: 10px 12px;
    pointer-events: none;
}

.has-feedback-left {

  left: 0;
}